body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 11vh;
  background-color: bisque;
  background-image: url("./Image/dust.jpeg");
  display: flex;
  justify-content: center;
  color: wheat;
  align-items: center;
  font-size: 3rem;
}

.display {
  width: 100%;
  height: 89vh;
  background-color: brown;
  background-image: url("./Image/flower.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 30rem;
  background-color: white;
  background-image: url("./Image/ground.jpeg");
  color: wheat;
  border-radius: 2rem;
}

.top {
  width: 100%;
  height: 9%;
  background-color: gray;
  background-image: url("./Image/dust.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.scores {
  width: 100%;
  max-height: 91%;
  background-color: black;
  overflow-y: auto;
}
.rows {
  height: 3rem;
  padding: 0;
  background-color: rgb(38, 255, 0);
  background-image: url("./Image/grass.jpeg");
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
