body {
  background-color: palevioletred;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: black;
  background-image: url("Image/ground.jpeg");
  width: 100%;
  height: 13vh;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
}
.container {
  background-color: white;
  background-image: url("./Image/grass.jpeg");
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.box {
  background-color: darksalmon;
  background-image: url("./Image/grassstone.jpg");
  width: 80vw;
  height: 100%;
  display: grid;
}

.checked {
  background-color: gray;
  background-image: url("./Image/flower.jpeg");
}
.bomb {
  background-color: red;
  background-image: url("./Image/lava.jpeg");
}

.playerName {
  font-weight: normal;
}

.footer {
  background-color: brown;
  background-image: url("./Image/ground.jpeg");
  width: 100%;
  height: 7vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  white-space: pre;
}
